<% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
<% end %>

<div>
  <span class="title">Title:</span>
  <span><%= @book.title %></span>
</div>
<div>
  <span class="title">Body:</span>
  <span><%= @book.body %></span>
</div>
<div><%= link_to 'Edit', edit_book_path(@book) %> | <%= link_to 'Back', "/books" %></div>